/html/*
!/html/wp-content/
!/html/.htaccess
!/html/wp-config.php
shortcut-taco-theme


# ignore composer dir
/vendor
/html/wp-content/themes/taco-theme/app/core/vendor/*
/html/wp-content/uploads/*
node_modules
/.sass-cache

*.log
*.zip
*.tar
*.tar.gz
*.lock
*.scssc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.com
*.class
*.dll
*.exe
*.o
*.so

.codekit-cache
*.css.map
*.js.map
